.fundo {
	background-color: #7cf7a7;
	background-image: url('../../shared/images/wickedbackground.svg');
	background-size: cover;
}

.ocupacaoTelaTotal {
	min-width: 100%;
	min-height: 100%;
}

.centraliza {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 300px;
	height: 250px;
	margin: 0 !important;
	align-items: center;
	justify-content: center;
	/**
	* TODO: Caso veja que fique atrativo adicionar fundo com backgroud-image
	* background-image: url('../../shared/images/chalkboard.jpg');
	*/
}

.caixaPrincipal {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.botaoADireita {
	overflow: hidden;
	clear: both;
	margin-left: auto;
	margin-right: 0;
}

.circuloPosicao {
	margin-top: -55px !important;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
}

.circuloAuxiliar {
	margin-top: -55px !important;
	position: fixed;
	left: 50%;
	transform: translate(-65%, 0);
	background-color: lighten(#1b2f23, 15%);
}

.circuloPrincipal {
	background-color: lighten(#1b2f23, 40%);
	background-image: url("../../shared/images/kisspng-cardboard-box-logo-clip-art-box-symbol-5b4f96d6760c64.7845641515319426144835.png");
	background-repeat: no-repeat;
	background-size: 85%;
	background-position: center;
}

.circulo {
	width: 80px;
	height: 80px;
	border-radius: 35%;
}

.caixaBotoes {
	display: flex;
	margin-bottom: 15px;
}

.w100p {
	width: 100%;
}

.textFieldEmail {
	margin-top: 40px;
	margin-bottom: 20px;
}
