<div class="fundo ocupacaoTelaTotal centraliza">
	<mat-card class="card">
		<div>
			<div class="circulo circuloAuxiliar">
			</div>
			<div class="circulo circuloPosicao circuloPrincipal">
			</div>
		</div>
		<div class="caixaPrincipal">
			<mat-form-field class="textFieldEmail w100p">
				<mat-label>e-mail</mat-label>
				<input [(ngModel)]="email" matInput type="email" maxlength="77">
			</mat-form-field>
			<mat-form-field class="w100p">
				<mat-label>senha</mat-label>
				<input [(ngModel)]="senha" matInput type="password" maxlength="20">
			</mat-form-field>
			<div class="caixaBotoes w100p">
				<button (click)="onClickLogin()" class="botaoADireita" mat-raised-button color="primary">LOGIN</button>
			</div>
			<button (click)="onClickForgotPassword()" mat-button>Esqueceu sua senha?</button>
		</div>
	</mat-card>
</div>
