/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'app/shared/themes/thema_void.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($theme);
}
.altTheme {
    // use our theme with angular-material-theme mixin
    @include angular-material-theme($altTheme);
  }

.mat-error {
	color: #f44336;
}

.mb5 {
	margin-bottom: 5px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
